*{
    margin:0;
    padding: 0;
}
#tab{
    padding: 5px;
    margin: 80px auto;
    width: 800px;
    font-size: 16px;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px lawngreen;
}
#tab thead{
    background: green;
    //cursor: pointer;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#tab tr,th{
    height: 30px;
    width: 200px;
    text-align: center;
}
.cursor{
    cursor:pointer;
}
.bg{
    background-color: greenyellow;
}