.demo {
  padding-top: 30px;
}
.container {
  background-color: #f0f3f9;
  font-family: 'PingFang SC', 'Microsoft Yahei';
  min-height: 610px;
  position: relative;
  overflow: hidden;
}
.moduleUl {
  width: 180px;
  position: absolute; top: 0; bottom: 0; left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #34538b;
}
.moduleLi {
  margin: 20px auto;
  padding: 10px 0;
  background-color: #fff;
  width: 150px;
  text-align: center;
  cursor: move;
  position: relative;
}
.moduleLi:hover::before {
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 10px;
  background-color: rgba(0,0,0,.5);
}
.moduleStage {
  max-width: 90%;
  min-width: 600px;
  margin: 0 0 0 180px;
}
.modulePlaceholder {
  height: 584px;
  background-color: #fff;
  position: relative;
  margin: 20px 40px;
}
.modulePlaceholder:empty::before {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #aaa;
  content: '从左侧拖模块放这里';
  font-size: 20px;
}
.modulePlaceholder.dragenter {
  outline: 2px dashed #ddd;
}

.moduleDrag {
  padding: 20px 0;
  margin: 20px 40px;
  background-color: #fff;
  text-align: center;
  cursor: move;
  position: relative;
}
.moduleDrag:hover::before {
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 10px;
}
/* 模块拖拽删除 */
.moduleRemove {
  position: absolute;
  top: 0; bottom: 0; left: -180px;
  width: 180px;
  padding-top: 40px;
  background-color: #34538b;
  transition: left .25s, background-color .2s;
  z-index: 1;
}
.moduleRemove.dragenter {
  left: 0;
}
.moduleRemoveIcon {
  position: absolute;
  font-size: 160px;
  left: 50%; top: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}
.moduleRemove:hover,
.moduleRemove.dragover {
  background-color: #F15656;
}
